# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Virtual environments
venv/
*/venv/
myenv/
*/myenv/

# Environment files
.env

# Flask
instance/

# IDEs and editors
.vscode/
.idea/

# Logs
*.log

# Coverage and test
.coverage
*.cover
.cache/

# Node.js
node_modules/

# macOS
.DS_Store

# Windows
Thumbs.db

